@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Iceland&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .bevel-tl {
        --bevel-size: 16px;
        clip-path: polygon(0 var(--bevel-size), var(--bevel-size) 0, 100% 0, 100% 100%, 0 100%);
    }

    .box {
        --size: 10px;
        --thickness: 2px;
        --gap: 0px;
        --border-color: #000;
        
        padding: calc(var(--gap) + var(--thickness));
        outline: var(--thickness) solid rgb(74, 82, 232);
        outline-offset: calc(-1 * var(--thickness));
        mask:
          conic-gradient(at var(--size) var(--size),#0000 75%,#000 0)
          0 0 / calc(100% - var(--size)) calc(100% - var(--size)),
          linear-gradient(#000 0 0) content-box;
        transition: .4s;
    }

    .gradient {
        backdrop-filter: blur(20px) saturate(180%);
        background: linear-gradient(90deg, rgba(74, 82, 232, 0.00) 0%, rgba(74, 82, 232, 0.17) 51.94%, rgba(74, 82, 232, 0.00) 100%);
    }

    .test {
        --color: rgba(104, 0, 255, 0.3);
        background: linear-gradient(225deg, var(--color) 0%, transparent 15%, transparent 85%, var(--color) 100%);
    }
}

@layer base {
    html {
        color: white;
        font-family: 'Iceland', sans-serif;
    }

    h1, h2 {
        font-family: 'Big Shoulders Display', sans-serif;
    }
}